$blue: #2557A2
$smoke-white: #FCFAF4
$bread-color: #CEA851
$pink: #FF0080
$mustard: #F5A622
$lightgreen: #4FE3C2
$violet: #7928C9
$grey: #EAEAEA
$black: #030303
$rolex-green: #01613A
$rolex-gold: #A37F2D
$mc-red: #DA291C
$mc-yellow: #FFC72C
$mc-black: #27251F
$cola-red: #F40009



%flex-column
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

%flex
    display: flex
    justify-content: center
    align-items: center

@keyframes logo
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

@keyframes logoMove
    0%
        transform: rotate(0deg)
    25%
        transform: rotate(5deg)
    50%
        transform: rotate(0deg)
    75%
        transform: rotate(-5deg)
    100%
        transform: rotate(0deg)
        

body
    @extend %flex-column
    


nav
    @extend %flex
    justify-content: space-between
    width: 100%
    padding: 1rem 2rem 1rem 2rem
    border: 0.5px solid $grey
    background: #FFFFFF
    .logoBox
        @extend %flex
        gap: 0.5rem
        h6
          font-size: 1rem
          color: #23272F
          font-weight: 400
    .sectionsBox
        @extend %flex
        gap: 2rem
        padding-right: 4rem
        .section
            @extend %flex
            h6
                font-size: 1rem
                color: #666666
                font-weight: 400
            h6:hover
                color: $black
    


main
    @extend %flex-column
    justify-content: flex-start
    width: 100%
    height: 100vh
    margin-top: 2rem
    gap: 2.5rem
    .cloud0
        position: absolute
        bottom: 0px
        left: 0px
    .cloud1
        position: absolute
        top: 300px
        right: 0px
    h1
        font-weight: 400
        font-style: italic
        font-size: 3rem
        color: #4C4744
        span
            color: #0f5fbb
            font-weight: 500
            font-style: normal
    .mainBox
        display: grid
        grid-template-columns: repeat(4, 250px)
        justify-content: center
        align-content: center
        row-gap: 3rem
        column-gap: 2rem
        .section
            @extend %flex
            padding: 3rem
            height: 150px
            border-radius: 8px
            border: 1px solid #e5e7eb
            position: relative
            background: #FFFFFF
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px
            h5
                color: #4C4744
                font-size: 2rem
            img
                margin-left: 1rem
        .section:hover
            border-color: #0f5fbb
            img
                animation: logoMove 0.2s ease-in-out
                animation-iteration-count: 2
        .writing
            @extend %flex
        .grammar
            img
                margin-left: 0.1rem
        .listening
        .reading
        .everyday
        .vocabulary
            @extend %flex-column
            img
                margin-top: 0.5rem
        .vocabulary:hover
            img
                animation: logo 0.6s ease-in-out
            



.сategory
    background: inherit
    margin-top: 0rem
    padding-top: 2rem
    .levelsBox
        @extend %flex
        h3
            color: #4C4744
            font-weight: 500
            background: #FFFFFF
            padding: 0.4rem 0.8rem
            border-radius: 8px
            font-size: 1rem
            border: 1px solid #e5e7eb
        h3:hover
            border: 1px dashed #0070F3
        span
            width: 50px
            font-weight: 200
            color: tranperent
            border-bottom: 1px dashed #0070F3
    .gridBox
          display: grid
          grid-template-columns: repeat(5, 1fr)
          grid-template-rows: repeat(5, 1fr)
          justify-items: center
          align-items: center
          row-gap: 0.5rem
          a
            color: #4C4744
          div
            width: 100px
            height: 80px
            margin-inline: 0.5rem
            border: 1px solid black
            @extend %flex
            cursor: pointer
            border-radius: 8px

        

.grammar
    background: #FFFFFF
    .gridBox
        .easy
            @extend %flex-column
        .normal
            @extend %flex-column
        .expert
            @extend %flex-column
        div
            font-weight: 500
        .win
            background: #00DB73
            color: #FFFFFF
            border: none
        .grey
            background: #C3B3C5
            color: #FFFFFF
            border: none
        .half-done
            background: #FFDF00
            color: $black
            border: none
            

.vocabulary
    background-color: #1b3544
    background-image: linear-gradient(48deg, #1b3544 0%, #7cb5de 38%, #7cb5de 100%)
    .gridBox
        div
            border: 3px solid white

.listening


























.mainGrammar
    background-color: #8BC6EC
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%)


.test
    user-select: none
    @extend %flex-column
    align-items: flex-start
    gap: 1.5rem
    .box
        @extend %flex
        h6
            font-size: 1.5rem
            color: #4C4744
            padding: 0.5rem 0.9rem
            border-radius: 50%
            margin-inline: 1rem
        p
            font-size: 1.3rem
            font-weight: 400
        .selectBox
                @extend %flex
                justify-content: space-between
                padding-inline: 0.2rem
                width: 200px
                height: 42px
                border: 1px solid #D1D5DB
                background: #FFFFFF
                border-radius: 8px
                position: relative
                margin-inline: 0.5rem
                .down
                    display: block
                .up
                    transform: rotate(180deg)
                .wrong
                    padding-left: 1rem
                    font-size: 1.3rem
                    text-decoration: line-through
                    font-weight: 400
                .correct
                    padding-left: 1rem
                    font-size: 1.3rem
                    color: #22C55D
                    font-weight: 400
                .hidden
                    position: absolute
                    top: 43px
                    left: 0px
                    width: 200px
                    @extend %flex-column
                    padding: 0.5rem
                    background: #FFFFFF
                    border: 1px solid #D1D5DB
                    border-radius: 8px
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px
                    z-index: 100
                    button
                        background: #FFFFFF
                        border: none
                        font-size: 1.3rem
                        margin: 0.4rem
                        padding: 1rem
                        border-radius: 8px
                        width: 90%
                        cursor: pointer
                    button:hover
                        background: #F3F4F6
        .selectBox:hover
                border: 1px solid black
        .selectBox:active
                background: #F3F4F6
        .selectBoxCorrect
                @extend %flex
                justify-content: space-between
                padding-inline: 0.2rem
                width: 200px
                height: 42px
                border: 1px solid #D1D5DB
                background: #DCFCE7
                border-radius: 8px
                position: relative
                margin-inline: 0.5rem
                .down
                    display: block
                .up
                    transform: rotate(180deg)
                .wrong
                    padding-left: 1rem
                    font-size: 1.3rem
                    text-decoration: line-through
                    font-weight: 400
                .correct
                    padding-left: 1rem
                    font-size: 1.3rem
                    color: #22C55D
                    font-weight: 400
                .hidden
                    position: absolute
                    top: 43px
                    left: 0px
                    width: 200px
                    @extend %flex-column
                    padding: 0.5rem
                    background: #FFFFFF
                    border: 1px solid #D1D5DB
                    border-radius: 8px
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px
                    z-index: 100
                    button
                        background: #FFFFFF
                        border: none
                        font-size: 1.3rem
                        margin: 0.4rem
                        padding: 1rem
                        border-radius: 8px
                        width: 90%
                        cursor: pointer
                    button:hover
                        background: #F3F4F6


                

        
.test2
    @extend %flex-column
    align-items: flex-start
    gap: 1.5rem
    .testbox
        @extend %flex-column
        align-items: flex-start
        gap: 0.5rem
        .qBox
            @extend %flex
            gap: 0.5rem
            p
                font-size: 1.2rem
            h6
                background: $cola-red
                font-size: 1.3rem
                color: #FFFFFF
                padding: 0.5rem 0.9rem
                border-radius: 50%
        .vBox
            @extend %flex
            gap: 0.5rem
            align-self: flex-start
            h6
                font-size: 1.2rem
                font-weight: 400
            button
                background: #FFFFFF
                padding: 0.4rem 1rem
                width: 150px
                border: 1px solid #D1D5DB
                font-size: 1rem
                border-radius: 8px
                cursor: pointer
            button:hover
                border: 1px solid black
            button:active
                background: #F3F4F6

            
.video
    iframe
        border: none
        border-radius: 9px
        width: 600px
        aspect-ratio: 16/9


.grammarElementary
    .box
        @extend %flex
        justify-content: space-between
        padding-inline: 0.2rem
        width: 200px
        height: 42px
        border: 1px solid #D1D5DB
        background: #FFFFFF
        border-radius: 8px
        margin-inline: 0.5rem
        display: inline
    p
        font-size: 1rem
        margin-inline: 3rem
    .sel
        width: 200px
        height: 35px
        display: inline-block
        font-size: 1rem
        margin-inline: 0.5rem
        border-radius: 8px



        
        

.selectBox
    @extend %flex-column
    width: 200px
    height: 35px
    border: 1px solid #D1D5DB
    border-radius: 8px
    display: inline-block
    margin: 1rem 0.5rem
    position: relative
    .value
        @extend %flex
        justify-content: space-between
        justify-self: center
        padding: 1rem
        h5
            font-size: 1rem
    .hidden
        @extend %flex-column
        width: 200px
        border: 1px solid #D1D5DB
        position: absolute
        background: white
        button
            border: none
            font-size: 1rem
        


.writingTest
    @extend  %flex-column
    gap: 3rem
    .variants
        padding: 3rem
        @extend %flex
        gap: 1rem
        border-radius: 1rem
        background: $blue
        .used
            text-decoration: line-through
            font-size: 1.5rem
            color: $smoke-white
        .unused
            border: none
            font-size: 1.5rem
            color: $smoke-white
    .text
        p
            font-size: 1.5rem
            line-height: 1.6666
            font-weight: 400
            color: #4C4744
        input
            margin-inline: 0.5rem
            width: 150px
            text-align: center
            font-weight: 400
        input:active
            border: 1px solid pink
        .default
            display: inline
            font-size: 1.5rem
            border-radius: 8px
            color: #4C4744
        .green
            font-size: 1.5rem
            border-radius: 8px
            background: $blue
            border: none
            color: $smoke-white
        span
            background: $blue
            font-size: 1.3rem
            color: $smoke-white
            padding: 0.5rem 0.9rem
            border-radius: 50%
            margin-inline: 0.5rem




.task0
    margin-top: 0
    padding-top: 3rem
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: center
    gap: 0
    .sideBarBox
        @extend %flex-column
        align-items: center
        gap: 2rem
        margin-left: 3rem
        .ProgressBarBox
            @extend %flex-column
            border: 1px dashed #22C55D
            width: 250px
            padding: 1rem
            border-radius: 8px
            gap: 0.5rem
            h4
                font-size: 2rem
                color: #4C4744
            .progressBox
                display: grid
                grid-template-columns: repeat(4, 40px)
                gap: 0.5rem
                .box
                    height: 40px
                    border-radius: 8px
                    border: 1px solid #4C4744
                    img
                        display: none
                .greenbox
                    height: 40px
                    border-radius: 8px
                    border: 1px solid #22C55D
                    background: #DCFCE7
                    @extend %flex                
        .examples
            user-select: none
            @extend %flex-column
            gap: 1rem
            margin: 0
            border: 1px dashed #22C55D
            width: 250px
            padding: 1rem
            border-radius: 8px
            div
                display: flex
                flex-direction: row
                align-items: center
                gap: 0.5rem
                h5
                    font-size: 2rem
                    color: #4C4744
                input:focus
                    outline: none
                .right
                    color: #22C55D
                    background: #DCFCE7
                    border: 1px solid #22C55D
                    width: 60px
                    border-radius: 8px
                    font-size: 3rem
                    @extend %flex
                .wrong
                    color: #4C4744
                    width: 60px
                    border-radius: 8px
                    font-size: 3rem
                    @extend %flex
    .text
        @extend %flex-column
        margin-left: 0
        gap: 1rem
        p
            margin-inline: 4rem
            font-size: 1.5rem
            line-height: 1.7
            color: #4C4744
        input
            font-size: 1.5rem
            width: 30px
            border: 1px solid $black
            border-radius: 8px
        .right
            color: #22C55D
            background: #DCFCE7
            border: 1px solid #22C55D
        .wrong
            color: #4C4744
        input:focus
            outline: none
        


