$blue: #2557A2
$smoke-white: #FCFAF4
$bread-color: #CEA851
$pink: #FF0080
$mustard: #F5A622
$lightgreen: #4FE3C2
$violet: #7928C9
$grey: #EAEAEA
$black: #030303
$rolex-green: #01613A
$rolex-gold: #A37F2D
$mc-red: #DA291C
$mc-yellow: #FFC72C
$mc-black: #27251F
$cola-red: #F40009



%flex-column
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

%flex
    display: flex
    justify-content: center
    align-items: center

@keyframes logo
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

@keyframes logoMove
    0%
        transform: rotate(0deg)
    25%
        transform: rotate(5deg)
    50%
        transform: rotate(0deg)
    75%
        transform: rotate(-5deg)
    100%
        transform: rotate(0deg)
        

body
    @extend %flex-column
    


nav
    @extend %flex
    justify-content: space-between
    width: 100%
    padding: 1rem 2rem 1rem 2rem
    border: 0.5px solid $grey
    .burgerMenu
        display: none
    .logoBox
        @extend %flex
        gap: 0.5rem
        h6
          font-size: 1rem
          color: #4C4744
          font-weight: 400
    .sectionsBox
        @extend %flex
        gap: 2rem
        padding-right: 4rem
        .section
            @extend %flex
            h6
                font-size: 1rem
                color: #4C4744
                font-weight: 400
            h6:hover
                color: $black
    


main
    @extend %flex-column
    justify-content: flex-start
    width: 100%
    height: 100vh
    margin-top: 2rem
    gap: 2.5rem
    .cloud0
        position: absolute
        bottom: 0px
        left: 0px
    .cloud1
        position: absolute
        top: 300px
        right: 0px
        z-index: -1000
    h1
        font-weight: 400
        font-style: italic
        font-size: 3rem
        color: #4C4744
        margin-inline: 2rem
        span
            color: #0f5fbb
            font-weight: 500
            font-style: normal
    .mainBox
        display: grid
        grid-template-columns: repeat(3, 300px)
        justify-content: center
        align-content: center
        row-gap: 3rem
        column-gap: 2rem
        .section
            @extend %flex
            padding: 3rem
            height: 170px
            border-radius: 8px
            border: 1px solid #e5e7eb
            position: relative
            background: #FFFFFF
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px
            h5
                color: #4C4744
                font-size: 2rem
            img
                margin-left: 1rem
        .section:hover
            border-color: #0f5fbb
            img
                animation: logoMove 0.2s ease-in-out
                animation-iteration-count: 2
        .writing
            @extend %flex
        .grammar
            img
                margin-left: 0.1rem
        .listening
        .reading
        .everyday
        .vocabulary
            @extend %flex-column
            img
                margin-top: 0.5rem
        .vocabulary:hover
            img
                animation: logo 0.6s ease-in-out
            



.сategory
    background: inherit
    margin-top: 0rem
    padding-top: 2rem
    .levelsBox
        @extend %flex
        h3
            color: #4C4744
            font-weight: 500
            background: #FFFFFF
            padding: 0.4rem 0.8rem
            border-radius: 8px
            font-size: 1rem
            border: 1px solid #e5e7eb
        h3:hover
            border: 1px dashed #0070F3
        .currentLevel
            color: #FFFFFF
            font-weight: 500
            background: #0070F3
            padding: 0.4rem 0.8rem
            border-radius: 8px
            font-size: 1rem
            border: 1px solid #e5e7eb
        .currentLevel:hover
            border: 1px solid #e5e7eb
        span
            width: 50px
            font-weight: 200
            color: tranperent
            border-bottom: 1px dashed #0070F3
    .gridBox
          display: grid
          grid-template-columns: repeat(5, 1fr)
          grid-template-rows: repeat(5, 1fr)
          justify-items: center
          align-items: center
          row-gap: 0.5rem
          a
            color: #4C4744
          div
            width: 140px
            height: 100px
            margin-inline: 0.5rem
            border: 1px solid #4C4744
            @extend %flex
            cursor: pointer
            border-radius: 8px
            text-align: center
            font-size: 0.9rem
          div:hover
            border: 1px dashed #0f5fbb

        

.A1
    .exercises
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 1rem
        a
            color: #4C4744
        .box
            width: 140px
            height: 100px
            margin-inline: 0.5rem
            border: 1px solid #4C4744
            @extend %flex
            cursor: pointer
            border-radius: 8px
            text-align: center
            font-size: 0.9rem
        .box:hover
            border: 1px dashed #0f5fbb



.excuses
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding: 2rem
    h1
        font-size: 2rem
    img
        margin-top: 3rem
        border-radius: 1rem

@media screen and ( max-width: 1325px )
    main
        text-align: center
        .mainBox
            grid-template-columns: repeat(3, 250px)

    
@media screen and ( max-width: 1150px )
    nav
        position: relative
        .sectionsBox
            display: none
        .burgerSections
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            position: absolute
            right: 15px
            top: 50px
            .section
                display: flex
                h6
                    font-size: 1rem
                    color: #4C4744
                    font-weight: 400
                h6:hover
                    color: $black
        .burgerMenu
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            div
                width: 40px
                height: 7px
                background: #4C4744
                margin: 3px 0
            .first
                margin: 0 0 3px 0
            .last
                margin: 3px 0 0 0 

@media screen and ( max-width: 930px )
    main
        h1
            font-size: 2.5rem
            text-wrap: balance

@media screen and ( max-width: 865px )
    main
        h1
            font-size: 2rem
        .mainBox
            grid-template-columns: repeat(2, 250px)


@media screen and ( max-width: 600px )
    main
        .mainBox
            grid-template-columns: repeat(1, 250px)
